:root {
    --primary-color: #0072b9;
    --background-color: #f4f4f9;
    --text-color: #333;
    --form-background: #fff;
    --form-shadow: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: var(--form-background);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--form-shadow);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

h3 {
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%; /* Garante que os blocos usem toda a largura interna */
}

form label {
    font-weight: bold;
    color: var(--text-color);
}

form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
}

form input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    transform: scale(1.01);
    transition: all .3s ease-in-out;
}

/* NOVO: Estilização do dropdown de Status para a tela de clínica */
form select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
}

form select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    transform: scale(1.01);
    transition: all .3s ease-in-out;
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {  
    background-color: #005a93; /* Escurece levemente o azul no hover */
    transform: scale(1.01);
    transition: all .3s ease-in-out;
}

@media (max-width: 768px) {
    #container {
        padding: 1rem;
        width: 100%;
    }

    form input, form select {
        font-size: 0.9rem;
    }

    button[type="submit"] {
        font-size: 0.9rem;
        padding: 0.5rem;
    }
}